:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--bkg-color)
}

.animation {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bkg-color);

    &.hidden {
        display: none;
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}

.start-button-wrapper {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    .start-button {
        user-select: none;
        color: white;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: border-color .3s;
        border: 2px solid transparent;
        border-radius: 50%;
        padding: 1em;
        aspect-ratio: 1;

    }

    .start-button:hover {
        border: 2px solid white;
    }
}

.skip-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
    user-select: none;
}

.book-play-button {

    display: inline-block;
    width: 100px;

}