:host {
    position: absolute;

    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);

    width: 350px;
    max-width: 30vw;
    background-color: white;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: .8rem;

    /*border: 2px solid var(--text-color);
    background-color: var(--bkg-color);
    box-shadow: 2px 2px currentColor;*/
    background-image: url("../../../assets/img/book-ico.svg");
    background-color: transparent;
    background-size: cover;
    aspect-ratio: 230 / 260;
    padding: 35px 25px 25px 35px;
    filter: drop-shadow(11px 13px lightgray);

}

.img-data-wrapper {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-data-wrapper > * {
    width: 49%;
}

p {
    margin: 0;
}

p.goodreads-link, p.authors {
    margin-top: .5em;
}

p.values {
    margin-bottom: .5em;
}

span.variable-info-name {
    font-weight: bold;
}

.love-books > * {
    display: block;
    width: 30%;
    margin: 0 auto;
}

.love-books > p {
    text-align: center;
    font-size: .8em;
    margin-top: -20px;
}

.variable-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-weight: bold;
    font-size: 1rem;
}

.values, p.goodreads-link {
    font-size: .9em;
}
