<p class="title">{{book?.bookData?.title}}</p>
<p class="authors">{{book?.bookData?.authors_list}}</p>

<div class="img-data-wrapper">

    <img [src]="'./assets/book-covers/' + book?.bookData?.filename" [alt]="'Book cover for ' + book?.bookData?.title">

    <div class="variable-info">
        <p class="values" *ngIf="xAxisVariable!='initial'">
    
            <span>{{variableNames[xAxisVariable]}}</span>:
            <span>{{book?.bookData?.[xAxisVariable]}}</span>
    
        </p>
    
        <p class="values" *ngIf="yAxisVariable!='initial'">
    
            <span>{{variableNames[yAxisVariable]}}</span>:
            <span>{{book?.bookData?.[yAxisVariable]}}</span>
    
        </p>
    </div>
</div>

<p class="goodreads-link">Access the book's <a [href]="book?.bookData?.url">Goodreads page</a>.</p>

<div class="love-books">
    <img class="icon-love-books" src="../../../assets/img/love-books.png" alt="A beautiful drawing of an open book with a heart on top of its pages!">
    <p>Add to your favorites!</p>
</div>