:host {
    position: absolute;

    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);

    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: .8rem;

    /*border: 2px solid var(--text-color);
    background-color: var(--bkg-color);
    box-shadow: 2px 2px currentColor;*/
    /*background-image: url(book-ico.svg); */
    background-color: var(--bkg-color);
    background-size: cover;
    min-height: 400px;
    /* aspect-ratio: 230/260; */
    padding: 35px 25px 25px 35px;
    /* filter: drop-shadow(11px 13px lightgray); */
    border: 9px solid black;
    border-radius: 70px 20px 20px 70px;
    max-height: 90vh;
    box-shadow: 11px 13px lightgrey;

}

.img-data-wrapper {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-data-wrapper > img {
    width: 40%;
}

p {
    margin: 0;
}

p.values {
    margin-bottom: .5em;
}

span.variable-info-name {
    font-weight: bold;
}

.love-books > img {
    display: block;
    width: 30%;
    margin: 0 auto;
}

.love-books > p {
    text-align: center;
    font-size: .8em;
    margin: 0 auto;
    margin-top: -10px;
}

.variable-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: .6em;
}

.title {
    font-weight: bold;
    font-size: 1rem;
}

.values, p.goodreads-link {
    font-size: .9em;
}

.awards-wrapper {
    margin: 1em 0;
}

.award-tag {
    margin-top: .5em;
    display: inline-flex;
    align-items: center;
    background-color: var(--highlight-color);
    border-radius: 5px;
    padding-right: .3em;

}

.award-tag + .award-tag {
    margin-left: 1em;
}

.award-tag::before {
    background-image: url(/assets/img/trophy.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 2em;
    height: 2em;
    display: inline-block;
    content: "";
}
