:host {
    position: absolute;

    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);

    width: 300px;
    max-width: 30vw;
    background-color: white;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: .8rem;

    /*border: 2px solid var(--text-color);
    background-color: var(--bkg-color);
    box-shadow: 2px 2px currentColor;*/
    background-image: url("../../../assets/img/book-ico.svg");
    background-color: transparent;
    background-size: cover;
    aspect-ratio: 230 / 260;
    padding: 35px;
    
}

img {
    width: 100%;
}

p {
    margin: 0;
}

.variable-info {
    margin-top: .5em;
}

.title {
    font-weight: bold;
    font-size: 1rem;
}

.values {
    font-size: .9em;
}