:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.main-view {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.sidebar {
    --side-margin: 1em;
    width: var(--sidebar-width);
    flex-shrink: 0;
    background-color: var(--bkg-color);
    transition: opacity .5s;
    > .sidebar-filter {
        /*display: flex;
        flex-direction: row;
        width: 100%;*/
        padding: 20px;
        box-sizing: border-box;

        > .sidebar-filter-title {
            font-weight: 600;
            margin-bottom: 0;
            font-size: var(--controls-font-size);

        }

    }


}

.sidebar-filter + .sidebar-filter {
    padding-top: 0;
}


svg {
    display: block;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    background-color: var(--bkg-color);
}

otsp-range-slider {
    /*flex-grow: 1;*/
}

h1 {
    margin: 0;
    margin-left: var(--margin-left);
    background-color: var(--bkg-color);
    padding: .5rem;
    padding-left: 0;
    transition: opacity 1s;
}

h1.no-show {
    opacity: 0;
}

.title-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    > .menu {
        display: flex;
        flex-direction: row;
        margin-right: 80px;

        > .menu-item {
            font-weight: bold;
            user-select: none;
            cursor: pointer;
            &:not(:last-child) {
                margin-right: 40px;
            }
        }
    }
}

.mostly-no-show {
    opacity: .1;
    pointer-events: none;
}

.wrapper-vis-and-controls-bottom {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: 100%;
}


.controls {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    /*padding: 100px;*/
    padding-left: var(--margin-left);
    background-color: var(--bkg-color);

     select {
        font-size: var(--controls-font-size);
        padding: .1em .3em;
        border-radius: 5px;
        background-color: transparent;
        border: 2px solid currentColor;
        height: var(--button-height);

        &.click-me {

            border-color: var(--highlight-color);
            animation: box-shadow-blink 2s infinite;

        }
    }

    &.top {
        padding-bottom: 10px;
        padding-top: 10px;
        padding-right:20px;
        align-items: center;

        > .genre-buttons-container {

            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: auto;
            margin-right: var(--margin-right);

        }

        > .center-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: auto;
            margin-left: auto;
        }

        > .tail-end {
            /*display: flex;
            flex-direction: column;
            align-items: center;*/
            width: calc(var(--sidebar-width) - var(--margin-right));
            /*padding-left: 20px;*/

            > .search-input {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                /*width: 260px;*/
                height: var(--button-height);
                border: 2px solid #000000;
                border-radius: 5px;
                box-sizing: border-box;

                > .status {
                    position: absolute;
                    top: calc(100% + 5px);
                    left: 0;
                    font-size: 14px;
                }

                > mat-icon {
                    display: block;
                    margin-left: 10px;
                    margin-right: 10px;
                    flex-shrink: 0;
                    box-sizing: border-box;

                    &:last-child {
                        cursor: pointer;
                    }
                }

                > input {
                    display: flex;
                    padding: 0;
                    min-width: 0;
                    flex-grow: 1;
                    height: 100%;
                    background-color: transparent;
                    border: none;
                    font-size: var(--controls-font-size);

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }

    &.bottom {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: var(--margin-right);
        justify-content: space-between;
        flex-grow: 0;

        > .force-button {
            font-size: var(--controls-font-size);
            border: 2px solid currentColor;
            border-radius: 5px;
            padding: 0.4em 0.6em;
            background-color: var(--bkg-color);
            height: var(--button-height);
            box-sizing: border-box;

            display: flex;
            flex-direction: row;
            flex-grow: 0;
            align-items: center;
            transform-origin: center center;
            cursor: pointer;

            transition: opacity .5s;

            &.active {
                box-shadow: 0 0 20px 5px var(--highlight-color);
            }

            > span {
                text-align: center;
            }
        }
    }
}

.force-icon {
    height: 100%;
    margin-left: .6em;
}

.slider-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.publication-year-filter {
    font-size: .8rem;
}


::ng-deep .book {
    fill: #5580e9;
    stroke: var(--bkg-color);
    opacity: .7;
    transition: stroke .3s, fill .3s, opacity .3s;

    &.during-animation {
        opacity: 1;
    }

    &.dimmed {
        opacity: .1;
        pointer-events: none;
    }

    &.searched {
        stroke-width: 5;
        stroke: #00c267;
        fill: #00c267;
        opacity: 1;
    }

    &:not(.dimmed) {
        cursor: pointer;
    }

    &:hover {
        stroke-width: 5;
        stroke: #ED2712;
        fill: #ED2712;
        opacity: 1;
    }

    &.no-force {
        transition: transform .8s, opacity .4s;
    }
}

.filters {
    border: none;
    background-color: transparent;

    padding: .5em .3em;
    border: 2px solid transparent;
    font-size: 1.2rem;
    text-transform: uppercase;

}

.genres-filter-container {
    width: 90px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 50vh;
    transform: translate(100%, -50%);
    transition: transform .4s;
}

.genres-filter-container.active {
    transform: translate(0, -50%);
}

.genres-filter-container button {
    background-color: transparent;
    border: none;
    padding: 0;
}


.genres-filter-container img {
    width: 100%;
}

.genres-filter-container img.selected {
    filter: drop-shadow(0px 0px 5px #5580e9);
}

.awards-button-container {

    margin-right: auto;
    margin-left: 1em;
    display: flex;
    align-items: center;
    justify-content: center;

}

.awards-button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.awards-button > img {
    display: block;
    height: calc(0.7 * var(--button-height));
}

.awards-button.selected {
    img {
        filter: drop-shadow(0px 0px 4px var(--highlight-color));
    }
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: .7;
    cursor: pointer;
    background-color: white; /*transparent;
    backdrop-filter: blur(5px); */
}

@keyframes box-shadow-blink {

    0% {
        box-shadow: 0 0 5px 0px var(--highlight-color);
    }

    50% {

        box-shadow: 0 0 5px 5px var(--highlight-color);

    }

    100% {
        box-shadow: 0 0 5px 0px var(--highlight-color);
    }

}
