<div class="top controls">
    <div class="main-content-wrapper">
        <h1 class="no-show">On the Same Page</h1>
        <div class="main-content">
            <select [ngModel]="yAxisVariable" (ngModelChange)="yAxisVariableChanged($event)">
                <option value="initial" disabled="">Select a variable for the Y axis!</option>
                <option value="numPages">Page count</option>
                <option value="avgRating">Average rating</option>
                <option value="ratingsCount">Number of ratings</option>
                <option value="year_publication">Publication year</option>
            </select>
        </div>
    </div>
    <div class="tail-end">
        <span class="publication-year-filter">Publication year filter: </span>
        <mat-slider [min]="yearMin" [max]="yearMax" [disabled]="yearMax === yearMin" discrete>
            <input matSliderStartThumb [ngModel]="yearLowerBound" (ngModelChange)="changeLowerBound($event)">
            <input matSliderEndThumb [ngModel]="yearUpperBound" (ngModelChange)="changeUpperBound($event)">
        </mat-slider>
       <!-- <otsp-range-slider (maxChanged)="placeHolderMethod($event)" [lowerBound]="0" [upperBound]="1500">

        </otsp-range-slider>
        <otsp-range-slider (maxChanged)="placeHolderMethod($event)" [lowerBound]="0" [upperBound]="6000">

        </otsp-range-slider> -->
        <!--<button class="filters">Genres</button>-->

    </div>
</div>
<svg #mainChart></svg>

<div class="bottom controls">
    <div class="force-button" [class.active]="forceEnabled" (click)="toggleForce()">
        <span>Use the force!</span>
        <img class="force-icon" src="assets/img/force.png">
    </div>
    <select [ngModel]="xAxisVariable" (ngModelChange)="xAxisVariableChanged($event)" >
        <option value="initial" disabled="">Select a variable for the X axis!</option>
        <option value="numPages">Page count</option>
        <option value="avgRating">Average rating</option>
        <option value="ratingsCount">Number of ratings</option>
        <option value="year_publication">Publication year</option>
    </select>
</div>

<div class="genres-filter-container active">
    <otsp-genre-button *ngFor="let genre of GENRE_LIST"
                       [matTooltip]="genre"
                       [genre]="genre"
                       [selected]="genreFilter === genre"
                       (genreSelected)="toggleGenre(genre)"></otsp-genre-button>
</div>

<div *ngIf="tooltipBookDetailed$ | async" class="overlay" (click)="tooltipBookDetailed$.next(null)">
</div>

<otsp-book-tooltip *ngIf="tooltipBook$ | async"
    [book]="tooltipBook$ | async"
    [xAxisVariable]="xAxisVariable"
    [yAxisVariable]="yAxisVariable">
</otsp-book-tooltip>

<otsp-book-tooltip-detailed *ngIf="tooltipBookDetailed$ | async"
    [book]="tooltipBookDetailed$ | async"
    [xAxisVariable]="xAxisVariable"
    [yAxisVariable]="yAxisVariable">
</otsp-book-tooltip-detailed>
