:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

svg {
    display: block;
    width: 100%;
    flex-grow: 1;
    background-color: var(--bkg-color);
}

mat-slider {
    width: 300px;
    margin-left: 2rem;
}

h1 {
    margin: 0;
    margin-bottom: 1rem;
    transition: opacity 1s;
}

h1.no-show {
    opacity: 0;
}


.controls {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    padding: 100px;
    background-color: var(--bkg-color);

    &.top {
        padding-bottom: 10px;
        padding-top: 20px;
        justify-content: space-between;
        align-items: end;

        > .center-content {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        > .tail-end {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &.bottom {
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: flex-end;
        justify-content: space-between;

        > .force-button {
            font-size: 13px;
            border: 2px solid currentColor;
            border-radius: 1em;
            padding: 0.4em 0.6em;
            background-color: var(--bkg-color);
            height: 35px;
            box-sizing: border-box;

            display: flex;
            flex-direction: row;
            flex-grow: 0;
            align-items: center;
            transform-origin: center center;
            cursor: pointer;

            &.active {
                box-shadow: 0 0 20px 5px gold;
            }

            > span {
                text-align: center;
            }
        }
    }
}

.force-icon {
    height: 100%;
    margin-left: .6em;
}

.slider-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.publication-year-filter {
    font-size: .8rem;
}


::ng-deep .book {
    fill: #5580e9;
    stroke: var(--bkg-color);
    opacity: .7;
    transition: stroke .3s, fill .3s, opacity .3s;

    &.dimmed {
        opacity: .1;
        pointer-events: none;
    }

    &:not(.dimmed) {
        cursor: pointer;
    }

    &:hover {
        stroke-width: 5;
        stroke: #ED2712;
        fill: #ED2712;
        opacity: 1;
    }

    &.no-force {
        transition: transform .8s, opacity .4s;
    }
}

.filters {
    border: none;
    background-color: transparent;

    padding: .5em .3em;
    border: 2px solid transparent;
    font-size: 1.2rem;
    text-transform: uppercase;

}

.genres-filter-container {
    width: 90px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 50vh;
    transform: translate(100%, -50%);
    transition: transform .4s;
}

.genres-filter-container.active {
    transform: translate(0, -50%);
}

.genres-filter-container button {
    background-color: transparent;
    border: none;
    padding: 0;
}


.genres-filter-container img {
    width: 100%;
}

.genres-filter-container img.selected {
    filter: drop-shadow(0px 0px 5px #5580e9);
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: .7;
    cursor: pointer;
    background-color: white; /*transparent;
    backdrop-filter: blur(5px); */
}
