<div class="section">
    <div class="section-title">About:</div>
    <div class="section-text">
        We love reading books. In today’s age, many have difficulties finding the right one to get lost in - having too many options can make it hard to make a satisfactory choice. On the Same Page visualizes hundreds of books using a filterable scatterplot and provides detailed information to assist you in your search for the next read! Have fun exploring On the Same Page and maybe you will find your next favorite somewhere in the plot?
    </div>
</div>
<div class="section">
    <div class="section-title">Data:</div>
    <div class="section-text">
        The data was scraped from the website goodreads.com (https://www.goodreads.com/list/show/1.Best_Books_Ever) using this scraper: https://github.com/havanagrawal/GoodreadsScraper.
        It contains 975 books. We did some data cleaning to come up with the final dataset. The data was last updated on March 21, 2023.
    </div>
</div>
<div class="section">
    <div class="section-title">Methods:</div>
    <div class="section-text">
        On the Same Page is built using Angular and D3.js. For further information, check our repository on GitHub.
    </div>
</div>
