
:host {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    width: 900px;
    background-color: var(--bkg-color);
    padding: 35px 25px 25px 35px;
    border: 9px solid black;
}

p {
    margin: .5em 0;
}

.section {
    &:not(:last-child) {
        margin-bottom: 1.5em;
    }

    .section-title {
        font-size: 24px;
    }
}

