<button class="close-modal" (click)="closeRequested.emit()">&#x2715;<span class="visually-hidden">Close</span></button>

<div class="section">
    <div class="section-title">About:</div>
    <div class="section-text">
        <p>We love reading books. In today’s age, many have difficulties finding the right one to get lost in - having too many options can make it hard to make a satisfactory choice. On the Same Page visualizes hundreds of books using a filterable scatterplot and provides detailed information to assist you in your search for the next read! Have fun exploring On the Same Page and maybe you will find your next favorite somewhere in the plot?</p>
    </div>
</div>
<div class="section">
    <div class="section-title">Data:</div>
    <div class="section-text">
        <p>
            The data was obtained from <a href="https://www.goodreads.com" target="_blank" rel="noopener noreferrer">Goodreads website</a>. Goodreads has a database with dozens of millions of books, so we decided to use a list of <a href="https://www.goodreads.com/list/show/1.Best_Books_Ever" target="_blank" rel="noopener noreferrer">"the best books ever"</a>, according to the general Goodreads community. We then scraped the top one thousand books from the list, using <a href="https://github.com/havanagrawal/GoodreadsScraper" target="_blank" rel="noopener noreferrer">this scraper</a>.
        </p>

        <p>
            We needed some information that was beyond the scope of the scraper, so we coded additional scraping scripts to get those (such as book covers, publication year, a better list of authors etc.). Data was then cleaned, wrangled and shaped to best fit our visualization needs. All that was done with <a href="https://cran.r-project.org/">R</a>, as well as exploratory data analysis and visualizations prototyping. All code related to these activities are available at our <a href="https://github.com/On-the-Same-Page/data-prep" target="_blank" rel="noopener noreferrer">data-prep repository</a>. You can also explore the <a href="assets/data.json" target="_blank" rel="noopener noreferrer">resulting JSON file</a> used in this application. The data was last updated on March 12, 2023.
        </p>
    </div>
</div>
<div class="section">
    <div class="section-title">Methods:</div>
    <div class="section-text">
        <p>On the Same Page is built using Angular and D3.js. For further information, check <a href="https://github.com/On-the-Same-Page/on-the-same-page.git" target="_blank" rel="noopener noreferrer">our repository on GitHub</a>.</p>
    </div>
</div>

<div class="section">
    <div class="section-title">Learning Objectives Reached</div>
    <div class="section-text">
        <p>
            After this class, we are able to:
        </p>
        <ul>
            <li>Design: Collaborate as groups to create fully-functioning information visualization systems that facilitate actionable insight through interactive data transformations, visual mappings, and view transformations;</li>
            <li>Defend: Defend your design choices through deep domain knowledge;</li>
            <li>Critique: Constructively criticize other information visualization systems using domain theory and practices;</li>
            <li>Demonstrate: Explain and demonstrate your information visualization systems to wide audiences, from novices to experts;</li>
            <li>Evaluate: Elicit constructive criticism from users of your information visualization systems.</li>
        </ul>

        <p>Besides that and our improved general skills in information visualization, some important lessons we learned from this project:</p>

        <ul>
            <li>Data cleaning, shaping and exploration are essential activities throughout a visualization project, so familiarity with a data analysis environment is key (R/ggplot2, Python/Pandas/Altair/matplotlib, Observable/Vega Lite/Plot etc.);</li>
            <li>The importance of teamwork and open, respectful communication;</li>
            <li>The visualization mantra: overview first, filter and zoom, details on demand;</li>
            <li>The importance (and challenges) of user evaluation.</li>
        </ul>

    </div>
</div>

<div class="section">
    <div class="section-title">Related Work:</div>
    <div class="section-text">

        <p>Alice Thudt, Uta Hinrichs, and Sheelagh Carpendale. 2012. The bohemian bookshelf: supporting serendipitous book discoveries through information visualization. In <em>Proceedings of the SIGCHI Conference on Human Factors in Computing Systems (CHI '12)</em>. Association for Computing Machinery, New York, NY, USA, 1461–1470. https://doi.org/10.1145/2207676.2208607</p>

        <p>R. Kosara and J. Mackinlay, "Storytelling: The Next Step for Visualization," in Computer, IEEE, vol. 46, no. 5, pp. 44-50, May 2013, doi: 10.1109/MC.2013.36.</p>

        <p>Ahlberg, C., & Shneiderman, B. (1994). Visual information seeking using the FilmFinder. <em>Conference Companion on Human Factors in Computing Systems</em>.</p>
    </div>
</div>
