.column{
    flex-direction: column;
    display: flex; 
}

.row{
    input{
        width: 50px;
        
    }
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

:host{
    width: 300px;
}