:host {
    display: flex;
    flex-direction: column;
    width: 90px;

    cursor: pointer;
    -webkit-user-drag: none;

    &.selected {
        img {
            filter: drop-shadow(0px 0px 5px #5580e9);
        }
    }
}

img {
    display: block;
    width: 100%;
    -webkit-user-drag: none;
}
