
:host {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 900px;
    background-color: var(--bkg-color);
    padding: 35px 25px 25px 35px;
    border: 9px solid black;
    font-size: .9rem;
    overflow: scroll;
    max-height: 95vh;
}

.author {

    flex: 0 0 250px;
    padding: 25px 10px 15px 25px;
    border: 5px solid black;
    border-radius: 40px 20px 20px 40px;
    box-shadow: 10px 10px lightgrey;

    .name {
        font-weight: bold;
        font-size: 1rem;
    }
}

.work {
    margin-top: 20px;
}

.authors-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.favorite-book-content {
    white-space: break-spaces;
    line-break: normal;
}

ul {
    padding-left: 1em;
}
