<!--{{book?.bookData?.description ?? "Nothing to see here. If you want to see more that is a you problem"}}-->
<p class="title">{{book?.bookData?.title}}</p>
<p class="authors">{{book?.bookData?.single_author}}</p>

<div class="variable-info">
    <p class="values" *ngIf="xAxisVariable!=='initial'">

        <span>{{variableNames[xAxisVariable]}}</span>:
        <span>{{xAxisVariable == "ratingsCount" ? format_number(book?.bookData?.[xAxisVariable]) : book?.bookData?.[xAxisVariable]}}</span>

    </p>

    <p class="values" *ngIf="yAxisVariable!=='initial'">


        <span>{{variableNames[yAxisVariable]}}</span>:
        <span>{{yAxisVariable == "ratingsCount" ? format_number(book?.bookData?.[yAxisVariable]) : book?.bookData?.[yAxisVariable]}}</span>


    </p>
</div>
