<!--{{book?.bookData?.description ?? "Nothing to see here. If you want to see more that is a you problem"}}-->
<p class="title">{{book?.bookData?.title}}</p>
<p class="authors">{{book?.bookData?.authors_list}}</p>

<div class="variable-info">
    <p class="values" *ngIf="xAxisVariable!=='initial'">

        <span>{{variableNames[xAxisVariable]}}</span>:
        <span>{{book?.bookData?.[xAxisVariable]}}</span>

    </p>

    <p class="values" *ngIf="yAxisVariable!=='initial'">


        <span>{{variableNames[yAxisVariable]}}</span>:
        <span>{{book?.bookData?.[yAxisVariable]}}</span>

    </p>
</div>
