@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

:root {
    --text-color: #444;
    --bkg-color: BlanchedAlmond;
}




select {
    padding: .5em .3em;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid black;
}
